@import "global/reset";
@import "global/variables";
@import "global/fonts";
@import "forsize/responsive";
@import "partials/Homepage";
@import "partials/Informations";
@import "partials/Reservation ";




.mainContainer {
  max-width: 1300px;
  padding: 0 3em;
  margin: 0 auto;
  @include responsive(desktop) {
    padding: 0 2em;
    margin: 0 auto;
  }
  @include responsive(tablet) {
    padding: 0 1em;
  }
  @include responsive(mobile) {
    padding: 0 1em;
  }
}

h1{
  font-family: 'Ailerons Typeface';
  font-size: 27px;
}

h2 {
  font-family: 'Ailerons Typeface';
  font-size: 27px;
}
p{
  font-family: 'Ubuntu';
  font-size: 22px;
  font-weight: lighter;
}

button{
  background: rgba(0, 106, 97, 0.3);
   width: 370px;
   height: 55px;
   border: solid 0.5px  #006A61;
   margin: 10px;
   font-size: 14px;
   color: #FFFFFF;
   cursor: pointer;
};

@include responsive(desktop) {}
@include responsive(tablet) {}
@include responsive(mobile) {}
