/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/Harriet-Display-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/Harriet-Display-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/HarrietDisplay-Medium.woff2") format("woff2"), url("../assets/fonts/HarrietDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/HarrietDisplay-Bold.woff2") format("woff2"), url("../assets/fonts/HarrietDisplay-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/HarrietDisplay-Black.woff2") format("woff2"), url("../assets/fonts/HarrietDisplay-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Playfair';
  src: url("./assets/fonts/PlayfairDisplay-Regular.otf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Playfair';
  src: url("./assets/fonts/PlayfairDisplay-Bold.otf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Playfair';
  src: url("./assets/fonts/PlayfairDisplay-Black.otf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Ailerons Typeface';
  src: url("../assets/fonts/Ailerons-Typeface.otf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../assets/fonts/Ubuntu_Light.ttf") format("truetype");
  font-weight: 500; }
.Way {
  margin: 0 auto; }
  .Way-content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 0;
    align-items: center; }
  .Way-contentOne {
    width: 31px;
    height: 31px;
    border: solid 1px;
    text-align: center;
    border-color: #8B8787; }
  .Way-bar {
    width: 40.1px;
    height: 2px;
    background-color: #FFF; }

p {
  margin-top: 5px;
  font-size: 19px;
  color: #FFF; }

.row {
  justify-content: center; }

.one {
  opacity: 25%;
  border-color: #006A61;
  background: rgba(0, 106, 97, 0.3);
  opacity: 25%; }

.Choice {
  z-index: 1;
  margin: 0 auto;
  padding: 40 0px; }
  .Choice-content-input {
    margin: 13px; }
  .Choice-input {
    width: 269px;
    background: rgba(0, 106, 97, 0.3);
    opacity: 25%;
    height: 51px;
    font-size: 20px;
    border: solid 1px  #006A61;
    cursor: pointer;
    color: #fff;
    padding-left: 60px; }

.Home {
  z-index: 1; }
  .Home-logo {
    width: 80%;
    display: flex;
    justify-content: center; }
  .Home-img {
    width: 100vh; }
  .Home-content {
    margin-top: -50px; }
    .Home-content-title {
      text-align: center;
      color: #FFF;
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px;
      text-transform: uppercase; }
      .Home-content-title-span {
        font-size: 30px;
        line-height: normal;
        font-weight: bolder;
        font-stretch: extra-expanded; }
    .Home-content-bar {
      background-color: #006A61;
      width: 100px;
      height: 1px;
      position: relative;
      left: 38%;
      margin-top: 10px;
      align-items: center; }
    .Home-content-text {
      margin-top: 20px;
      text-align: center; }
    .Home-content-Choice {
      text-align: center;
      color: #FFF;
      font-size: 22px;
      margin-top: 20px; }
    .Home-content-button {
      display: flex;
      justify-content: center;
      margin: 30px; }

.container {
  margin: 0 auto; }

button {
  background: rgba(0, 106, 97, 0.3);
  width: 120px;
  height: 37px;
  border: solid 0.5px  #006A61;
  margin: 10px;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer; }

.Register {
  min-height: 100vh; }
  .Register-content {
    width: 800px;
    min-height: 100vh;
    align-items: center;
    position: relative;
    margin: auto;
    border-radius: 8px;
    line-height: 40px; }
    .Register-content-title {
      font-size: 24px;
      text-align: center;
      align-items: center;
      width: 100%;
      margin-top: 25px; }
    .Register-content-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 5px; }
      .Register-content-form-inputContent {
        margin: 10px;
        cursor: pointer; }
      .Register-content-form-input {
        width: 300px;
        height: 40px;
        font-size: 13px;
        border: none;
        padding-left: 10px; }

.form-input {
  width: 300px;
  height: 40px;
  font-size: 13px;
  border: none;
  padding-left: 10px; }

.valid {
  color: #FFFF;
  font-size: 20px;
  background-color: black;
  border: 1px solid white; }

.form-group label {
  color: silver; }

.form-group label:nth-child(1) {
  color: white; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-image: url("../assets/img/spaceBlack.png"); }

h1 {
  font-family: 'Ailerons Typeface'; }

p {
  font-family: 'Ubuntu_Light';
  font-size: 12px;
  text-transform: uppercase; }

.container {
  max-width: 1300px;
  padding: 0 3em;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .container {
      padding: 0 2em;
      margin: 0 auto; } }
  @media (max-width: 960px) {
    .container {
      padding: 0 1em; } }
  @media (max-width: 600px) {
    .container {
      padding: 0 1em; } }

/*# sourceMappingURL=style.css.map */
