/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/Harriet-Display-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/Harriet-Display-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/HarrietDisplay-Medium.woff2") format("woff2"), url("../assets/fonts/HarrietDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/HarrietDisplay-Bold.woff2") format("woff2"), url("../assets/fonts/HarrietDisplay-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Harriet Display';
  src: url("../assets/fonts/HarrietDisplay-Black.woff2") format("woff2"), url("../assets/fonts/HarrietDisplay-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Playfair';
  src: url("./assets/fonts/PlayfairDisplay-Regular.otf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Playfair';
  src: url("./assets/fonts/PlayfairDisplay-Bold.otf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Playfair';
  src: url("./assets/fonts/PlayfairDisplay-Black.otf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Ailerons Typeface';
  src: url("../assets/fonts/Ailerons-Typeface.otf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../assets/fonts/Ubuntu_Light.ttf") format("truetype");
  font-weight: 500; }
.Iscaryon {
  background-color: orange; }
  .Iscaryon_para {
    color: red; }

.way {
  margin: 0 auto; }
  .way-content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 0;
    align-items: center; }
  .way-contentOne {
    width: 31px;
    height: 31px;
    border: solid 1px;
    text-align: center;
    border-color: #8B8787; }
  .way-bar {
    width: 40.1px;
    height: 2px;
    background-color: #FFF; }

p {
  margin-top: 5px;
  font-size: 19px;
  color: #FFF; }

.row {
  justify-content: center; }

.one {
  opacity: 25%;
  border-color: #006A61;
  background: rgba(0, 106, 97, 0.3);
  opacity: 25%; }

.choice {
  z-index: 1;
  margin: 0 auto;
  padding: 40 0px; }
  .choice-content-input {
    margin: 13px; }
  .choice-input {
    width: 269px;
    background: rgba(0, 106, 97, 0.3);
    opacity: 25%;
    height: 51px;
    font-size: 20px;
    border: solid 1px  #006A61;
    cursor: pointer;
    color: #fff;
    padding-left: 60px; }

h1 {
  font-family: 'Ailerons Typeface'; }

p {
  font-family: 'Ubuntu_Light'; }

.home {
  z-index: 1; }
  .home-content-logo {
    width: 80%;
    display: flex;
    justify-content: center; }
  .home-content-img {
    width: 100vh; }
  .home-content-title {
    text-align: center;
    color: #FFF;
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .home-content-title-span {
      font-size: 30px;
      line-height: normal;
      font-weight: bolder;
      font-stretch: extra-expanded; }
  .home-content-bar {
    background-color: #006A61;
    width: 100px;
    height: 1px;
    position: relative;
    left: 38%;
    margin-top: 10px; }
  .home-content-text {
    font-size: 2vh;
    margin-top: 20px;
    text-align: center; }
  .home-content-choice {
    text-align: center;
    color: #FFF;
    font-size: 22px;
    margin-top: 20px; }
  .home-content-button {
    display: flex;
    justify-content: center;
    margin: 30px; }
    .home-content-button-1 {
      background: rgba(0, 106, 97, 0.3);
      width: 120px;
      height: 37px;
      border: solid 0.5px  #006A61;
      margin: 10px;
      font-size: 14px;
      color: #FFFFFF;
      cursor: pointer; }

.container {
  margin: 0 auto; }

.leisure {
  margin: 0 auto;
  padding: 1rem; }
  .leisure-content {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    margin-top: 30px; }
    .leisure-content-img {
      width: 90%;
      margin: 0 auto;
      height: auto; }
      .leisure-content-img-logo {
        width: 100%; }
    .leisure-content-text {
      margin-top: 30px;
      text-transform: uppercase; }
      .leisure-content-text-title {
        margin-top: 30px; }
      .leisure-content-text-description {
        margin-top: 30px; }
    .leisure-content-choice-one {
      display: flex;
      justify-content: space-between; }
    .leisure-content-choice-text {
      margin-top: 30px; }
    .leisure-content-choice-img {
      width: 40%;
      height: auto;
      text-align: center;
      margin-top: 30px;
      margin: 0 auto; }
      .leisure-content-choice-img-logo {
        width: 100%;
        margin-top: 10px; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-image: url("../assets/img/spaceBlack.png"); }

.mainContainer {
  max-width: 1300px;
  padding: 0 3em;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .mainContainer {
      padding: 0 2em;
      margin: 0 auto; } }
  @media (max-width: 960px) {
    .mainContainer {
      padding: 0 1em; } }
  @media (max-width: 600px) {
    .mainContainer {
      padding: 0 1em; } }

/*# sourceMappingURL=style.css.map */
