.Page{
  &-container{
    @media only screen and (min-width: 1000px) {
     display: flex;
    }
  }
  &-title{
    color: $white;
    margin-top: 6%;
  }
  &-image{

    width: 420px;
    height: 190px;
    background-color: #fff;
    text-align: center;
    background-image: url("../assets/img/zakera.jpg");
    background-size: cover;
    display: flex;
    margin: 0 auto;
    margin-top: 20%;
    @media only screen and (min-width: 600px) {
      width: 500px;
      height: 230px;
      margin-top: 14%;
    }
    @media only screen and (min-width: 800px) {
      width: 550px;
      height: 260px;
      margin-top: 12%;
    }
    @media only screen and (min-width: 1000px) {
      width: 650px;
      height: 350px;
      margin-top: 12%;
      position: relative;
    }
    @media only screen and (min-width: 1200px) {
      width: 550px;
      height: 320px;
      margin-top: 8%;
      margin-left: 11%;
    }
  }
  &-title{}

  &-titleContent{
    color: $white;
    text-align: center;
    font-family: 'Ailerons Typeface';
    font-size: 23px;
    line-height: 28px;
    margin-top: 13%;
    @media only screen and (min-width: 600px){
      font-size: 23px;
    }
    @media only screen and (min-width: 800px){
      font-size: 27px;
    }
  }

  &-titleContentOne1{
    color: $white;
    text-align: center;
    font-family: 'Ailerons Typeface';
    font-size: 20px;

    @media only screen and (min-width: 600px){
      font-size: 23px;
    }
    @media only screen and (min-width: 800px){
      font-size: 27px;
    }
  }
  &-text{
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  &-textContent{
    color: $white;
    font-size: 12px;
    font-family: 'Ubuntu';
    line-height: 25px;
    @media only screen and (min-width: 600px){
      font-size: 18px;
    }
    @media only screen and (min-width: 600px){
      font-size: 22px;
    }
  }
//  SECOND CONTAINER

  &-titleTwo{
    color: $white;
    margin-top: 6%;
  }
  &-imageTwo{
    width: 420px;
    height: 190px;
    background-color: #fff;
    text-align: center;
    background-image: url("../assets/img/future.jpg");
    background-size: cover;
    display: flex;
    margin: 0 auto;
    margin-top: 20%;
    @media only screen and (min-width: 600px) {
      width: 500px;
      height: 230px;
      margin-top: 14%;
    }
    @media only screen and (min-width: 800px) {
      width: 550px;
      height: 260px;
      margin-top: 12%;
    }
    @media only screen and (min-width: 1000px) {
      width: 650px;
      height: 270px;
      margin-top: 12%;
    }
    @media only screen and (min-width: 1200px) {
      width: 550px;
      height: 320px;
      margin-top: 8%;
      margin-left: 11%;
    }
  }
  &-title{}

  &-titleContentTwo{
    color: $white;
    text-align: center;
    font-family: 'Ailerons Typeface';
    font-size: 23px;
    line-height: 28px;
    margin-top: 13%;
    @media only screen and (min-width: 600px){
      font-size: 23px;
    }
    @media only screen and (min-width: 800px){
      font-size: 27px;
    }
  }

  &-titleContentOne1{
    color: $white;
    text-align: center;
    font-family: 'Ailerons Typeface';
    font-size: 20px;

    @media only screen and (min-width: 600px){
      font-size: 23px;
    }
    @media only screen and (min-width: 800px){
      font-size: 27px;
    }
  }

  &-textTwo{
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  &-textContentTwo{
    color: $white;
    font-size: 12px;
    font-family: 'Ubuntu';
    line-height: 25px;
    @media only screen and (min-width: 600px){
      font-size: 18px;
    }
    @media only screen and (min-width: 600px){
      font-size: 22px;
    }
  }

  // THIRD CONTAINER
  &-imageHobbies{
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Restaurant.jpg");
    background-color: white;
    background-size: cover;
    &-paragraphe{
      color: $white;
      margin: 1em auto;
      text-align: center;
      font-family: 'Ubuntu';
      font-size: 20px;
    }
    &-parent{
      display: flex;
      justify-content: space-around;
      margin: 6em auto;
    }
  }
  &-imageHobbiesTwo{
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Casino.jpg");
    background-color: white;
    background-size: cover;
   }
   &-imageHobbiesThree{
     width: 100%;
     height: 100%;
     background-image: url("../assets/img/library.jpg");
     background-color: white;
     background-size: cover;
    }
    &-imageHobbiesFour{
      width: 100%;
      height: 100%;
      background-image: url("../assets/img/stade.jpg");
      background-color: white;
      background-size: cover;
     }
  &-picture-parent{
    width: 40%;
    height: 30%;
    @media only screen and (min-width: 600px){
      width: 45%;
      height: 38%;
    }
    @media only screen and (min-width: 800px){
      width: 45%;
      height: 45%;
    }
    @media only screen and (min-width: 1000px){
      width: 45%;
      height: 50%;
    }
    @media only screen and (min-width: 1200px){
      width: 45%;
      height: 60%;
    }
    @media only screen and (min-width: 1300px){
      width: 45%;
      height: 70%;
    }
  }
  }
