


.Home{
  z-index: 1;
  &-logo{
    width: 80%;
  display: flex;
  justify-content: center;
  }
  &-img{
    width:100vh;
  }
  &-content{
 margin-top: -50px;
    &-title{
      text-align: center;
      color: #FFF;
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px;

      text-transform: uppercase;
      &-span{
        font-size: 30px;
        line-height: normal;
        font-weight: bolder;
        font-stretch: extra-expanded;


      }
    }
    &-bar{
      background-color: #006A61;
      width: 100px;
      height: 1px;
      position: relative;
      left: 38%;
      margin-top: 10px;
      align-items: center;

    }
    &-text{

      margin-top: 20px;
      text-align: center;

    }
    &-Choice{
      text-align: center;
      color: #FFF;
      font-size: 22px;
      margin-top: 20px;
    }
    &-button{
      display: flex;
      justify-content: center;
    margin: 30px;
    &-1{

    }

    }

  }

}
.container{
  margin: 0 auto;
}
