.Zakera{
  overflow: hidden;
   &-container{
     @media only screen and (min-width: 1000px) {
      display: flex;
     }
   }
  &-image{

    // margin-left: 13%;
    width: 420px;
    height: 190px;
    background-color: #fff;
    text-align: center;
    background-image: url("../assets/img/zakera.jpg");
    background-size: cover;
    display: flex;
    margin: 0 auto;
    margin-top: 15%;
    @media only screen and (min-width: 600px) {
      width: 500px;
      height: 230px;
      margin-top: 14%;
    }
    @media only screen and (min-width: 800px) {
      width: 550px;
      height: 260px;
      margin-top: 12%;
    }
    @media only screen and (min-width: 1000px) {
      width: 650px;
      height: 350px;
      margin-top: 12%;
      position: relative;
    }
    @media only screen and (min-width: 1200px) {
      width: 900px;
      height: 400px;
      margin-top: 8%;
      margin-left: 11%;
      margin: 5em auto;
    }
  }
  &-title{
    margin-top: 13%;
    margin-right: 10%;
  }
  &-titleContent{
    padding: 1em;
  }

  &-titleContentOne{
    color: $white;
    text-align: center;
    font-family: 'Ailerons Typeface';
    font-size: 20px;
    // margin-top: 50%;
    // margin-right: 38%;
    @media only screen and (min-width: 600px){
      font-size: 23px;
    }
    @media only screen and (min-width: 800px){
      font-size: 27px;
    }
  }

  &-text{
    margin: 0 auto;
    margin-top: 5%;


  }
  &-textContent{
    color: $white;
    font-size: 12px;
    font-family: 'Ubuntu';
    line-height: 20px;
    @media only screen and (min-width: 600px){
      font-size: 18px;
    }
    @media only screen and (min-width: 600px){
      font-size: 22SSpx;
    }
  }
}
