.leisure{
  margin:0 auto;
  padding: 1rem;
  &-content{
    text-align: center;
    color: #FFF;
    font-size: 20px;
    margin-top: 30px;
    &-img{
      width: 90%;
      margin: 0 auto;
      height: auto;
      &-logo{
        width: 100%;
      }
    }
    &-text{
      margin-top: 30px;
      text-transform: uppercase;

      &-title{
        margin-top:30px;

      }
      &-description{
        margin-top: 30px;


      }
    }
    &-choice{
      &-one{
        display: flex;
        justify-content: space-between;

      }
      &-text{
        margin-top: 30px;
      }
      &-img{
        width: 40%;
        height: auto;
        text-align: center;
        margin-top: 30px;
        margin: 0 auto;
        &-logo{
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
